

.mission_statement {
    background: #000 url(../images/mainhomeless.jpg) no-repeat center 0 fixed;
    padding: 40px 0;
    min-height: 500px;
    background-size: cover;
    color: white;
    background-position: center;
    height: auto;
}

.mission_paragraph {
    background-color: rgba(51, 47, 47, 0.98);
    padding: 20px;
}

.rescue {
    text-align: center;
    padding: 10px;
}

body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

.row {
    background-color: #fff;
    padding-bottom: 60px;
}

.volunteer {
    padding: 0px;
}

.top-bar, .top-bar ul {
    background-color: #000;
}

.menu-text {
    color: white;
}

.menu > li > a {
    color: #fff;
}

a:hover {
    color: #2199e8;
}


h2 {
   padding-left: 15px;
   font-family: 'Josefin Sans', sans-serif;
   font-weight: bold;
    font-size: 3em;
}

h5 {
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0px;
}

li {
   list-style-type: none;
    text-align: left;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.row_footer {
    background-color: black;
}

footer {
    color: white;
    font-size: .9em;
    text-align: center;
}

.food {
    padding-top: 20px;
}

img {
    padding-bottom: 30px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}

.places {
    padding-bottom: 15px;
    padding-left: 10px;
}
